<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Confirmo.net Pay Example</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/starter-template/starter-template.css" rel="stylesheet">

    <script th:src="@{'https://www.google.com/recaptcha/api.js?render='+${@environment.getProperty('google.recaptcha.site-key')}}"></script>

</head>
<body>
    <nav th:fragment="navigation" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            Confirmo.net Pay Example
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/invoiceForm}">New invoice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/invoices}">My invoices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://confirmo.net">Confirmo.net</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://github.com/dkacetl/confirmo-java-sdk" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SDK
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="https://github.com/dkacetl/confirmo-java-sdk/blob/master/confirmo-api/src/main/resources/openapi/confirmo-api.yaml">OpenAPI specification</a>
                        <a class="dropdown-item" href="https://confirmonetapi.docs.apiary.io/">API Documentation</a>
                        <a class="dropdown-item" href="https://github.com/dkacetl/confirmo-java-sdk">Java SDK</a>
                        <a class="dropdown-item" href="https://github.com/dkacetl/confirmo-java-sdk/tree/master/confirmo-pay-example">Confirmo Pay Example</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Invoice ID" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</body>
<footer th:fragment="footer">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
</footer>
</html>