<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Confirmo pay example</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <form action="#" th:action="@{/payout}" th:object="${setupForm}" method="post">
            <p>amount: <input type="number" th:field="*{amount}" /></p>
            <p>apiKey: <input type="text" th:field="*{apiKey}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>